<div class="login">
    <table>
        <tr>
            <td><label for="userName"><b>Username</b></label></td>
            <td><input type="text" placeholder="Enter Username or Email" name="userName" required
                [(ngModel)]="userName"></td>
        </tr>
        <tr>
            <td><label for="password"><b>Password</b></label></td>
            <td><input type="password" placeholder="Enter Password" name="password" required
                [(ngModel)]="password"></td>
        </tr>
    
        <tr>
            <td></td>
            <td><button (click)="login()">Login</button></td>
        </tr>
    
    </table>
</div>