.login{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    background-color: blanchedalmond;
    padding-top: 10%;
}

button{
    margin-left: 55%;
    font-weight: bold;
    padding:4%;
    background-color: rgb(111, 167, 65);
    color: white;
    letter-spacing: 1px;
}

table{
    border-spacing: 10px;
}

input{
    padding: 10px;
}