<div class="add">
    <table>
        <tr>
            <td><b>Title</b></td>
            <td><input type="text" [(ngModel)]="book.title" placeholder="Enter the title"></td>
        </tr>
        <tr>
            <td><b>ImageUrl</b></td>
            <td><input type="url" [(ngModel)]="book.url"></td>
        </tr>
        <tr>
            <td><b>Description</b></td>
            <td><textarea name="description" id="" cols="30" rows="10" [(ngModel)]="book.description"
                placeholder="Enter the Book Description"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><button (click)="addBook()">Add Book</button></td>
        </tr>
    </table>
</div>